<nav class="navbar navbar-expand-lg navbar-dark px-md-5 navbar-custom">
    <a class="navbar-brand" href="#">
        <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt=""> angular
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Solutions
                </a>
                <div class="dropdown-menu navbar-custom" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <div class="my-2 my-lg-0 dark-light">
            <i class="fas fa-sun px-2"></i>
            <mat-slide-toggle [(ngModel)]="isDark" (change)="toggleTheme($event)" color="accent"></mat-slide-toggle>
            <i class="fas fa-moon px-2"></i>
        </div>
    </div>
</nav>
