$color: (
    white: #ffffff,
    black: #000000,
    good-night-black: #485460,
    off-white: #ecf0f1,
    off-black: #535c68,
    imperial-primer: #222f3e,
    joust-blue: #54a0ff,
    pink: #f368e0,
    pastel-red: #ee5253,
    forest-blue: #0a3d62,
    aurora-green: #78e08f,
    blue: #1e3799,
    prestige-blue: #2f3542,
    grisaille: #57606f,
    layoutBlue:  #3b86ff
)
