.cross-icon {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

.btn-custom {
    background-color: var(--theme-dark-background-layout);
}

.top-section {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(100,100,100,0.15);
}