[layout="first"] .homepage-container, 
[layout="second"] .homepage-container, 
[layout="third"] .homepage-container,
[layout="fourth"] .homepage-container {
    position: absolute;
    z-index: 10;
}

[sidebar-status="hidden"] .homepage-container {
    width: 100%;
}

[sidebar-status="shown"][layout="first"] .homepage-container {
    left: 15%;
    width: 85%;
}

[sidebar-status="shown"][layout="second"] .homepage-container,
[sidebar-status="shown"][layout="third"] .homepage-container {
    left: 15%;
    top: 10%;
    width: 85%;
    height: 90%;
}

.background-color-layout-third {
    display: none;
}

[layout="third"] .background-color-layout-third {
    display: block;
    background-color: var(--theme-dark-background-layout);
    width: 100%;
    height: 30%;
    position: absolute;
    z-index: -1;
}

[sidebar-status="shown"][layout="third"] .background-color-layout-third {
    height: 40%;
}

[sidebar-status="hidden"][layout="fourth"] .homepage-container {
    left: 7%;
    width: 93%;
}

[sidebar-status="shown"][layout="fourth"] .homepage-container {
    left: 20%;
    width: 80%;
}