<div class="container mb-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center d-flex justify-content-center align-items-center mt-5">
            <h1 class="text-banner">Let's code and create something that make's difference</h1>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="/assets/img/developer.png" class="img-fluid">
        </div>
        <div class="col-md-12 text-center py-5 mt-2 about-us">
            <i class="fas fa-medal"></i>
            <h1 class="mt-3">Clean and Ultra Modern Design Webpages By Shiv Raj</h1>
            <p class="px-md-5 mx-md-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam aperiam maiores autem dolorum iusto quod delectus praesentium commodi harum dolor assumenda, obcaecati expedita nostrum eius cupiditate quibusdam officiis dicta. Earum. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Ea aut repudiandae magni modi fugit recusandae corporis expedita aliquid molestiae? Excepturi officiis facere repellendus tempora, possimus rem doloribus velit voluptate enim. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Assumenda ad quos porro dignissimos, tenetur a dolore commodi, doloribus iusto quidem sit adipisci numquam modi, officia impedit qui eius minima ea.
            </p>
        </div>
        <div class="col-md-12 text-center py-5 mt-2 about-us">
            <h1 class="mt-3">Our Services</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <mat-card>
                <mat-card-header class="justify-content-center text-center">
                    <mat-card-title class="card-title">
                        <h4>Hospital Management Services</h4>
                        <i class="py-5 fas fa-hospital"></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-justify">
                        The articles about hospital management are not enough to reference to other countries. So countries should publish their experiences and also we have to learn cost of COVID in order to find good practices for hospital management
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <mat-card>
                <mat-card-header class="justify-content-center text-center">
                    <mat-card-title class="card-title">
                        <h4>Hospital Management Services</h4>
                        <i class="py-5 fas fa-hospital"></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-justify">
                        The articles about hospital management are not enough to reference to other countries. So countries should publish their experiences and also we have to learn cost of COVID in order to find good practices for hospital management
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <mat-card>
                <mat-card-header class="justify-content-center text-center">
                    <mat-card-title class="card-title">
                        <h4>Hospital Management Services</h4>
                        <i class="py-5 fas fa-hospital"></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-justify">
                        The articles about hospital management are not enough to reference to other countries. So countries should publish their experiences and also we have to learn cost of COVID in order to find good practices for hospital management
                    </p>
                    <button type="button" class="btn btn-primary">Primary</button>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <mat-card>
                <mat-card-header class="justify-content-center text-center">
                    <mat-card-title class="card-title">
                        <h4>Hospital Management Services</h4>
                        <i class="py-5 fas fa-hospital"></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-justify">
                        The articles about hospital management are not enough to reference to other countries. So countries should publish their experiences and also we have to learn cost of COVID in order to find good practices for hospital management
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <mat-card>
                <mat-card-header class="justify-content-center text-center">
                    <mat-card-title class="card-title">
                        <h4>Hospital Management Services</h4>
                        <i class="py-5 fas fa-hospital"></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-justify">
                        The articles about hospital management are not enough to reference to other countries. So countries should publish their experiences and also we have to learn cost of COVID in order to find good practices for hospital management
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <mat-card>
                <mat-card-header class="justify-content-center text-center">
                    <mat-card-title class="card-title">
                        <h4>Hospital Management Services</h4>
                        <i class="py-5 fas fa-hospital"></i>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-justify">
                        The articles about hospital management are not enough to reference to other countries. So countries should publish their experiences and also we have to learn cost of COVID in order to find good practices for hospital management
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
