<mat-toolbar class="toolbar">
    <div class="row" style="width: 100%;">
        <div class="col-md-6 search-bar-section d-flex">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <input class="custom-input mx-4 px-3 py-0" type="text" placeholder="Search">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <div class="profile-section d-flex align-items-center">
                <div class="image-section mx-2">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="profile-setting">
                    <span>Shivraj Bhagat</span>
                    <i class="fas fa-chevron-down mx-2"></i>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
